body {
    height: 100%; 
    margin: 0; 
    padding: 0;
    font-family: 'Great Vibes', cursive;
    background: url('nochecita.gif') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 50px;
    padding: 50px;
}

h1 {
    font-size: 3.5em;
    color: #e6ccef;
}

p {
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
}

.container {
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}

.image-button {
    width: 150px;
    height: 150px;
    margin: 0 100px 5px 100px;
    cursor: pointer;
    border-radius: 10px;
}

.image-button:hover {
    transform: scale(1.25);
}

h3 {
    font-size: 1.4em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fffdfd;
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.opcion1 {
    font-family: 'Dancing Script', cursive; 
    color: #e6ccef; 
    text-align: center; 
}
